
/* body */
body {
  background-color: white;
  color: black;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 10pt;
}


/* Navigation */

nav[role=toc] {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    background-color: rgb(230, 241, 242);
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
}

nav ul ul {
    list-style-type: none;
    margin-left: 15pt;
}

nav li a {
    display: block;
    color: #000;
    padding: 2pt 16px;
    text-decoration: none;
}


li a:hover:not(.active) {
    background-color: rgb(3,111,123);
    color: white;
}

/* Main */

main {
    max-width: 1000px;
    min-width: 575px;
    margin-left: 300px;
    padding: 1px 16px;
    overflow: auto;
}


/* Basic indentation, padding, and margins */

.p {
    margin: 0.2em 0.2em 0.2em 0.2em;
}

a {
    margin: 0.2em 0.2em 0.2em 0.2em;
}
blockquote {
line-height: 125%; 
margin: 7.5pt;
padding: 0;
}

/* Lists */

ol, ul {
    list-style-position: outside;
  margin: 5pt 0 5pt 15pt;
  padding: 0;
}


ul.simple {
    margin: 2pt 2pt 2pt 15pt;
}

li p {display: inline;}



/* Headings */

h1.ds_title {
    font-size: 24pt;
    color: rgb(3, 111, 132);
    font-weight: bold;
    margin-bottom: 6pt;
    border-bottom: none;
}

div.abstract {
    font-size: 13pt;
    font-weight: bold;
    color: rgb(3, 111, 132);
    border-bottom: 1px solid;
    border-color: rgb(3, 111, 132);
    margin-bottom: 10pt;
}

h1,h2,h3 {
  font-size: 14pt;
  color: rgb(3, 111, 132);
  font-weight: bold;
    margin-bottom: 4pt;

}

.topictitle1 {
  border-bottom: 1px solid;
  border-color: rgb(3, 111, 132);
}


/* Footnotes */

div.p a sup {
  font-size: inherit;
}

div.p a sup:before {
  content: '[';
}

div.p a sup:after {
  content: ']';
}




/* Figures */

figure {
    margin: 0.5em 0.5em 0.5em 0.5em; 
}

figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
  color: rgb(3, 111, 132);
  font-weight: bold;
  text-align: left;
  margin-left: 0;
}

figcaption .desc {
  color: black;
  font-weight: normal;
  font-style: normal !important;
  margin-top: 7.5pt;
  text-align: left;
}




/* Tables */
table {
  margin-bottom: 10pt;
  margin-top: 10pt;
  padding: 1px;
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
}

table caption {
  color: rgb(3, 111, 132);
  font-weight: bold;
  text-align: left;
}

table .desc {
  color: black;
  font-weight: normal;
  font-style: italic;
  margin-top: 3pt;
  margin-bottom: 3pt;
}

table .colsep-0 {
  border-right-style: hidden;
}


table.frame-none td {
  border-style: none;
  border-width: 0px !important;
  padding: 0px !important;
}

table, th, td {
  border-color: rgb(3, 111, 132);
  border-style: solid;
  border-width: 1px;
  text-align: left;
  vertical-align: top;
}

th, td.head {
  font-weight: bold;
  background-color: rgb(230, 241, 242);
}
