<p>
  The DITA Glossary Entry (<i>glossentry</i>) topic type provides support for the
  development of glossary topics that define terms, acronyms, and abbreviations. It may
  also contain terminology information.
</p>