<p>
  The DITA Machinery Task topic type provides procedural information, similar to other
  task types, but has a well-defined semantic structure to meet the special requirements
  of organizations that develop instructional material for industrial equipment. For
  example, it adds several descriptive elements in the preliminary requirements
  (<i>prelreqs</i>) and closing requirements (<i>closereqs</i>) sections.
</p>