/*

Oxygen WebHelp Plugin
Copyright (c) 1998-2021 Syncro Soft SRL, Romania.  All rights reserved.

*/

@import "fonts.css?buildId=2022041410";

/* Start RTL */
html[dir="rtl"] .topic, html[dir="rtl"] .hasSubMenuOpened, html[dir="rtl"] .hasSubMenuClosed{
    background-position: right;
}
html[dir="rtl"] .textToSearch{
    margin-right: 0;
    margin-left: 4px;
}
html[dir="rtl"] #searchForm{
    float:left;
    padding: 2px 0 5px 0;
    margin: 0;
}
html[dir="rtl"] #customLogo {
    float: right;
}
html[dir="rtl"] #contentBlock, html[dir="rtl"] #contentBlock ul{
    padding-right: 10px;
    padding-left: 0px;
}
html[dir="rtl"] #expnd {
    float: left;
}
html[dir="rtl"] #contentBlock li span {
    padding: 2px 21px 2px 5px;
}

html[dir="rtl"] #header #tocMenu{
    padding-left: 0;
    padding-right: 13px;
}
/* End RTL */

html,body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: arial, helvetica, "Lucida Grande", Verdana, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
    font-size: 10pt;
}

#oldFrames:hover, #printlink a:hover {
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}

.tab {
    display: inline-block;
}
.tab span{
    float: left;
    display: inline-block;
}

#productTitle h1 {
    font-size: 1.8em;
    margin: 0.5em 0 0 0.3em;
    padding-bottom: 0.5em;
    line-height: 1.1em;
}

/* Expand / Collapse Buttons */
#expnd{
    float: right;
    text-align: right;
    display: inline-block;
    padding: 3px;
}
#expnd a{
    display: none;
}
#expnd #collapseAllLink, #expnd #expandAllLink{
    display: inline-block;
    width:16px;
    height:16px;
}
#collapseAllLink{
    background-image: url("../img/CollapseAll16.png");
}
#expandAllLink{
    background-image: url("../img/ExpandAll16.png");
}

/*Left pane TABs*/
#tocMenu{
    clear: both;
    width: 100%;
    margin: 0 auto;
    padding-left: 13px;
    white-space: nowrap;
}
#tocMenu div{
    background-color : #eee;
    text-decoration:none;
    color:#336699;
    padding:1px 7px 1px 7px;
    cursor:pointer;
    margin-top: 1px;
    margin-bottom: 0;
    margin-right: 2px;
    border:1px solid #ccc;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom:0;
    min-height: 1px;
    text-shadow:0 1px 0 #fff;
}
#tocMenu div:hover{
    color:#cc0000;
}
#tocMenu div.selectedTab{
    text-decoration: none;
    color:#333;
    background-color:#D3E1F1;
    border:1px solid #ccc;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    border-bottom:0;
    text-shadow:0 1px 0 #fff;
}

#bck_toc #searchBlock,#bck_toc #indexBlock, #bck_toc #contentBlock{
    background-color:transparent;
    padding-top:10px;
    vertical-align:top;
}
#bck_toc #contentBlock{
    padding-bottom: 50px;
}
#bck_toc,#bck_toc #searchBlock,#bck_toc #indexBlock {
    position: relative;
    padding:0;
}
/*Content block with navigation tree*/
#contentBlock>ul>li{
    padding: 1px 0 1px 0;
}
#contentBlock ul>li ul{
    display:none;
}
#contentBlock ul{
    margin: 0;
}
#contentBlock li>span{
    display: inline-block;
    padding: 2px 5px 2px 21px;
}
#contentBlock,#contentBlock ul{
    padding-left: 10px;
}
#contentBlock {
    text-decoration: none;
    font-size: 10pt;
    color: navy;
    font-family: arial, helvetica, tahoma, "Lucida Grande", Verdana, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
    white-space: nowrap;
}
#contentBlock a, #contentBlock a:hover, #contentBlock a:after, #contentBlock a:active, a.link, a.navheader_parent_path{
    text-decoration: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    white-space: inherit;
}
.hasSubMenuClosed{
    background: url('../img/book_closed16.png') no-repeat;
    padding-left: 16px;
    cursor: pointer;

}
.hasSubMenuOpened{
    background: url('../img/book_opened16.png') no-repeat;
    padding-left: 16px;
    cursor: pointer;
}

.menuItemSelected{
    font-weight: bolder;
    background-color: #f9f9f9;
}

/*Index block from left pane*/
#indexBlock {
    line-height:1.8em;
}
#indexBlock a{
    text-decoration:none;
}
#indexBlock fieldset{
    margin:15px 0 0 0;
    padding:0;
    border:0;
}
#indexBlock ul{
    color:#444;
    list-style:none;
    margin:0;
    padding-left:16px;
}

li{
    list-style: none;
}

#searchBlock #searchForm.frameset, #indexBlock #indexForm {
    position: relative;
    margin: 0;
    padding-top: 10px;
    top: 0;
    z-index: 99;
    width: 100%;
    background-color: #0000FF;
    box-shadow: #bbbbbb 0 0 10px;
}
#searchForm{
    float:right;
    padding: 2px 0 5px 0;
    margin: 0.2em 0 0 0;
}

#searchForm.frameset,#indexForm{
    margin:15px 10px;
    padding:0 10px 15px 10px;
    border:0;
}
#id_search, .textToSearch.frameset{
    border: 1px #999 solid;
    line-height: 1.4em;
    padding: 0 3px;
    margin: 0;
}
.textToSearch.frameset{
    margin:15px 0 0 20px;
    width: 170px;
    border-radius: 0;
}
.textToSearch.frameset:focus{
    border: 1px #999 solid;
    line-height: 1.4em;
    padding: 0 3px;
    margin: 15px 0 0 20px;
    width: 170px;
    border-radius: 0;
    box-shadow: none;
}
.textToSearch, .textToSearch:focus{
    width: 150px;
    border: 1px #999 solid;
    padding: 2px 8px;
    margin: 5px 4px 0 0;
    line-height: 16px;
    border-radius: 5px;
}
.textToSearch:focus{
    outline: none;
    box-shadow: 0 0 7px #999999;
    border: 1px #bbb solid;
}

.topic{
    background-image: url('../img/topic16.png');
    background-repeat:  no-repeat;
    padding-left: 16px;
}

#rightDiv{
    margin-top: 5px;
    text-align: right;
}

a.foundResult{
    color:#0000FF;
}
a.foundResult:visited{
    color:#660066;
}
a.foundResult:hover{
    color:red;
}

/*Rating of searched terms*/
#star .star {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 85px;
    height: 20px;
    left: 1px;
    top: -5px;
    position: relative;
    float: right;
    background: url('../img/starsSmall.png') repeat-x 0 -25px;
}
#star div {
    padding: 0;
    margin: 0;
    float: right;
    display: block;
    width: 85px;
    height: 20px;
    text-decoration: none;
    text-indent: -9000px;
    z-index: 20;
}
#star .curr {
    background: url('../img/starsSmall.png') 0 25px;
    float: left;
    width: 85px;
    font-size: 1px;
}
#star div.user {
    left: 5px;
    position: relative;
    float: right;
    font-size: 13px;
    font-family: Arial, "Lucida Grande", Verdana, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
    color: #888;
}

.searchExpression {
    color: #0050A0;
    font-size: 10pt;
    font-weight:bold;
}

#searchResults,#iList{
    overflow: auto;
    padding: 0 0.6em;
    height: 100%;
}
.searchresult{
    margin:0;
    padding:0
}
.searchresult li{
    margin-top:0.2em;
    padding: 0.6em;
}

.highlight{
    background: lightyellow;
}

/*The copyright.*/
.legal {
    margin: 1em;
}
.legalCopyright{
    font-size: 0.8em;
    text-align: right;
    font-weight:normal;
}
.legalNotice{
    margin-top: 1em;
    border-top: 1px solid gray;
    padding-top: 1em;
    color: #999;
}
#customLogo{
    display:none;
    height: 70px;
    width: 200px;
    margin-top: 5px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

/*
 * Missing words.
 */
.searchresult .wh_missing_words {
    color:#888888;
}

.searchresult .wh_missing_word {
    text-decoration:line-through;
}

.searchresult .wh_missing_words {
    margin-left: 0;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 3px;
}

/**
 * Similar pages.
 */
.showSimilarPages {
    display: inline-block;
    margin: .3em 0 0 0;
    cursor: pointer;
    color:#346ec5;
}

.showSimilarPages:before{
    font-family: 'Glyphicons Halflings';
    content: "\e250";
    display: inline-block;
    font-size: .7em;
    padding-right: .3em
}
.showSimilarPages.expanded:before{
    content: "\e252";
}
.similarResult {
    display:none;
    margin: 0 0 0 1.5em;
}

/**
* Search result item
*/
.searchItemAdditionalData {
    display:flex;
    justify-content:center;
}

#searchResults .missingAndSimilar {
    flex-grow: 2;
}

/* Hide relative path for WH Classic */
#searchResults .relativePath {
    display:none;
}

/* Short description highlight. */
#searchResults .search-shortdescription-highlight {
    font-weight: bold;
}

#rightDiv {
    align-self:flex-start;
}

/** 
 * The list that displays search suggestions.
 */
.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.search-autocomplete-proposal {
    font-weight: bold;    
    color: #2a599e;    
}

/* Search expression */
.wh_search_expression {
    font-weight: bold;
}
