/*

Oxygen WebHelp Plugin
Copyright (c) 1998-2021 Syncro Soft SRL, Romania.  All rights reserved.

*/


@import "webhelp_topic_elements_styles.css?buildId=2022041410";
@import "syntax-highlight.css?buildId=2022041410";
@import "print.css?buildId=2022041410";

/* Start RTL */
html[dir="rtl"] .navnext {
    float: left;
    background-image: url('../img/nav_left16.png');
    background-position: right;
    padding-bottom: 1px;
}

html[dir="rtl"] .navfooter .navnext {
    float: none;
}

html[dir="rtl"] .navprev {
    float: right;
    background-image: url('../img/nav_right16.png');
    background-position: right;
    padding-bottom: 1px;
}

html[dir="rtl"] .navparent {
    background-position: right;
    padding-bottom: 1px;
}

html[dir="rtl"] div.footer{
    float: left;
}
/* End RTL */

body {
  background-color:transparent;
  font-family: arial, helvetica, "Lucida Grande", Verdana, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
  line-height:18px;
  font-size:12px;
}

a.link {
    text-decoration: none;
}

.navheader{
    min-width: 326px;
    text-align: right;
}
.navheader_linktext,
.navheader_separator{
    display: none;
}
.navnext a,.navprev a,.navparent a{
    padding-left: 15px;
    display: inline-block;
}
.navparent,.navprev,.navnext{
    background-repeat: no-repeat;
    margin-left: 5px;
    cursor: pointer;
    padding-right: 10px;
    padding-bottom: 5px;
    line-height: 16px;
    display: inline-block;
    text-indent: 3px;
    min-width: 16px;
    min-height: 16px;
}
.navparent{
    background-image: url('../img/nav_up16.png');
}
.navprev{
    background-image: url('../img/nav_left16.png');
}
.navnext{
    background-image: url('../img/nav_right16.png');
    float:right;
}

span.frames{ cursor:pointer; padding:0 5px 0 0; }

a:visited{
  color:#660066;        
}
a:hover{
  color:red;
}

a span.frames{
/*
 * Patch 18.08.2010 EXM-18336
 * color:navy;
 */
    color:#0000FF; 
    text-decoration:underline;
}
/*
 * Patch 18.08.2010 EXM-18336
 * a:hover{ 
 *    color:red; 
 *    text-decoration:underline;
 * }
 * 
 */

table.nav{
  width:100%;  
  vertical-align:middle;
}

table.nav td + td {
  text-align:left;
  padding:0 0.4em 0 0;
}

/*
 * Patch EXM-23770
 */
 .related-links{
   margin-top:30px;
}


/* Patch EXM-18336
 * h1.topictitle1 {
 *   color:black;
 *   background-color:#eee;  
 *   padding:0.3em 0 0 0.2em;
 *   margin:0 0.3em 0 0;
}
 */
h1.topictitle1 {
  color:black;
  background-color:#C0C0C0;
  font-size: 20px;  
  padding:0.4em 0 0.3em 0.7em;
  margin:0;
}


/*----------------------*/


/*----------------
    The footer. 
-----------------*/

div.footer{  
  margin:2em 0.6em 1.5em 0;
  float:right;
  line-height:24px;
  color:#444;
  font-size:0.9em
}
a.oxyFooter{text-decoration:none; color:#444}

.navfooter .navnext{
    float:none;
}
.navfooter{
  margin:3em 0 0 0; 
  padding:0.4em 0 0 0;
}

div.footer span.xmlauthor{
  margin-bottom:14px;
}

#myPassword, #myUserName{
  width:100%;  
}

/*----------------*/
/*The copyright.*/
div, td{
    font-size:10pt;
}

div.copyright{
    font-size:8pt;
    padding-top:1em;
}
#nav_tree div.copyright{
    padding-top:0.2em;
    padding-left:1em;
}

/* Makes the titles stand-out */
h1.title,
h2.title{
    color:#333;
    background-color:#ececec;
    text-shadow:0 1px 0 #fff;
    padding: 0.4em 0.4em 0.4em 0.4em;
    box-shadow: 0 1px 2px #999;
}

/* The navigation tree classes */
#nav_tree > ul{
    border-top:1px solid gray;
    border-bottom:1px solid gray;
    margin-top: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    min-width:300px;
    padding: 1em;
    font-size:10pt;
}

#content{
    border-left:2px solid gray;
    padding-left:1em;
}

#nav_tree ul ul{
    margin:0;
    padding:0;
}

#nav_tree form{
    margin-top:0.5em;
    margin-bottom:0.5em;
    padding-right:0.5em;
    text-align:right;
}
#nav_tree form input{
    font-size:8pt;
}

#nav_tree li {
    margin-top: 0.2em;
    margin-left: 1em;
    list-style-type:none;
}

/* The links */
#nav_tree a.nav_tree{
    color:black;
    background-color:inherit;
}

/* The selected page. */
#nav_tree li.nav_tree_last_open_book > a{
    background-color: #333399;
    color:white;
    text-decoration:none;
}

#nav_tree li:before{
    display:inline;
    vertical-align:text-bottom;
    padding-top:0.2em;
    padding-right:0.2em;
}


/* Title displayed over the tree area.*/
#nav_tree p.nav_title { 
    font-size: 14pt; 
    font-weight: bold; 
    margin: 0.5em;
}
#nav_tree p.nav_title a{ 
    text-decoration:none;
    color:black;
    background-color:inherit;
}

/* The path in the document displayed over the content.*/
div.nav_path{
    text-align:right;
}

.redX {
    color:red;
    background-color:inherit;
    font-size:1.2em;
}


#permalink>a {
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/link.png") no-repeat;
  float: right;
  font-size: xx-small;
  padding: 0 3px 0 3px;
  margin-right: 3px;
}

#printlink>a{
    display: block;
    width: 16px;
    height: 16px;
    background: url("../img/print.png") no-repeat;
    float: right;
    font-size: xx-small;
    padding: 0 3px 0 3px;
    margin-right: 3px;
    cursor: pointer;
}


/* IE6 & IE7 style */
@media screen\9 {
    .navheader{
        width: 360px;
        text-align: right;
    }
    .navnext{
        background-image: url('../img/nav_right16.png');
        float:none;
    }
}

div.loadingError {
  color:red;
  font-weight:bold;
}


.topic_breadcrumb_link + .topic_breadcrumb_link:before{
    content:" /";
}


#topic_navigation_links {
    display: block;
}

/*
 * Table border
 */
table {
    border-collapse: collapse;
}
.frame-all {
    border: solid 1px;
}
.rowsep-1,
.colsep-1 {
    border: 1px solid;
}