<p>
  The DITA Classification document type is a map specialization designed to provide
  elements that enable map authors to indicate information about the subject matter of
  their DITA topics. The subjects are defined in <i>Subject Scheme</i> maps, and the map
  authors reference the subjects using the <i>@keyref</i> attribute.
</p>