/*
 * =====================================================
 * 
 * Defines the images resolution, scaling, size.
 * 
 * =====================================================
 */

/*
 * Use 96dpi to be compatible with the CSS spec. Until 23.0 this was 120dpi.
 * In this way the coordinates from a image map area are perfectly aligned with the image.
 */
*[class ~= "topic/image"] {
  prince-image-resolution: 96dpi;
  -ah-image-resolution: 96dpi;
  image-resolution: 96dpi;
  max-width: 100%;
}

/*
 * The images that use image maps must not to be automatically scaled.
 * By default, all images have the max-width = 100% that triggers
 * scaling down if the image is too big. However, this will change
 * the effective image size and the areas will not be placed correctly.
 * Inhibit this.  
 */
*[class ~= "ut-d/imagemap"] > *[class ~= "topic/image"] {
  max-width: auto;
}

/*
 * The units are optional (default is pixels). 
 */
*[class ~= "topic/image"][width] { width: attr(width, px); }
*[class ~= "topic/image"][width *= 'pc'],
*[class ~= "topic/image"][width *= 'pt'],
*[class ~= "topic/image"][width *= 'px'],
*[class ~= "topic/image"][width *= 'mm'],
*[class ~= "topic/image"][width *= 'cm'],
*[class ~= "topic/image"][width *= 'in'],
*[class ~= "topic/image"][width *= 'em'] {
  width: attr(width);
}

*[class ~= "topic/image"][height] { height: attr(height, px); }
*[class ~= "topic/image"][height *= 'pc'],
*[class ~= "topic/image"][height *= 'pt'],
*[class ~= "topic/image"][height *= 'px'],
*[class ~= "topic/image"][height *= 'mm'],
*[class ~= "topic/image"][height *= 'cm'],
*[class ~= "topic/image"][height *= 'in'],
*[class ~= "topic/image"][height *= 'em'] {
  height: attr(height);
}

*[class ~= "topic/fig"] {
  counter-increment: figcount;
}

/*
 * Image Map inherits from Fig and should not increment the counter.
 */
*[class ~= "ut-d/imagemap"] {
  counter-increment: none;
}

/*
 * Keep the figure caption and its image on the same page, for the images with
 * figure.title.placement="bottom". When the figure.title.placement is set to "top",
 * the default breaking rule for titles applies (page-break-after: avoid).
 */
*[class ~= "topic/image"] + *[class ~= "topic/title"] {
  page-break-before: avoid;
}

/* 
 * Center images with align center.
 */
*[class ~= "topic/fig"]:has(*[class ~= "topic/image"][align = 'center']) > *[class ~= "topic/title"] {
  text-align: center;
}
*[class ~= "topic/image"][align = 'center'] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* 
 * Right align images with align right.
 */
*[class ~= "topic/fig"]:has(*[class ~= "topic/image"][align = 'right']) > *[class ~= "topic/title"] {
  text-align: right;
}
*[class ~= "topic/image"][align = 'right'] {
  display: block;
  margin-left: auto;
}

/* Images with @placement="break" and @scale need max-height to avoid getValue() called on AUTO length error. */
*[class ~= "topic/image"][placement = 'break'][scale] {
  max-height: 100%;
}
