/*

Oxygen WebHelp Plugin
Copyright (c) 1998-2021 Syncro Soft SRL, Romania.  All rights reserved.

*/

@import "../../css/print.css?buildId=2022041410";

/* Start RTL */
html[dir="rtl"] #productTitle, html[dir="rtl"] #productToolbar #breadcrumbLinks, html[dir="rtl"] #productTitle h1{
    float: right;
}

html[dir="rtl"] .framesLink, html[dir="rtl"] #productToolbar #navigationLinks {
    float: left;
}

html[dir="rtl"] #rightPane{
    float: left;
}

html[dir="rtl"] #leftPane{
    float: right;
}

html[dir="rtl"] .splitbarV{
    float: right;
    border-right: solid 1px #eee;
    border-left: solid 1px #ccc;
}
html[dir="rtl"] .splitbuttonV {
    background: transparent url(../../img/splitter.png) 0 50%;
}
html[dir="rtl"] .splitbuttonV.invert {
    background: transparent url(../../img/splitter.png) 8px 50%;
}
/* End RTL */

html, body {
    overflow: hidden;
    height: 100%;
}

#expnd {
    top: -25px;
    position: relative;
}

/*Header*/
#header {                      
  width: 100%;
  float: left;
  margin: 0;
  position:relative; 
} 
#lHeader{   
  float: right;
  width: 100%;     
  position: relative;
  background-color: #eee;        
}
#productTitle{
  float: left;
  width: 100%;
  top:0;
  display: block;
  background-color: rgba(0, 0, 0, 0);
  padding: 0 5px 0 5px;
}
#productTitle h1{
    float: left;
}

/* Link to webhelp with frames */
.framesLink{
  display: block;
  float: right;
  margin: 0.5em 1em 0 0.3em;
  padding: 7px;
  min-width: 90px;
}
.framesLink img{
  padding: 0 3px 0 3px;
}
.framesLink a{
 text-decoration:none;
 color:#999999;
}
.framesLink a:hover{
 text-decoration:none;
 color:#999999;
}
#oldFrames {
display: block;
width: 16px;
height: 16px;
float: right;
margin-right: 20px;
background-image: url('../../../../oxygen-webhelp/resources/img/frames.png');
}

/* Breadcrumb & navigation links */
#productToolbar{                           
  width: 100%;
  float: left;
  background-color: transparent;
}
#productToolbar #breadcrumbLinks{
  width:auto;
  clear: both;
  float: left;    
}
.navheader_parent_path{
  padding: 0 2px 0 2px;
}
#productToolbar #navigationLinks{
  float: right; 
  padding-right: 15px;
  margin-right: 5px;
}

#space{
  background: #D3E1F1;
  border: 0;
  height: 2px;
  clear: both;        
}
table.tool td{
  padding: 0;
  margin:0;
}
table.tool{
  width: 100%;  
  border-spacing: 0;
}
table.tool td:first-child{
    width:1%;
}
/*Left pane TABs*/
#tocMenu{
  float: left;
}

table.nav{
  width: 100%;      
}
table.nav tbody td:last-child{
  text-align: right;
}

/* Main splitter element */
#splitterContainer {
  height: 95%;
  width: 100%;
  margin: 0;
  padding: 0;        
  display: block;   
  background: transparent;
}

#leftPane {
  float: left;
  width: 25%;
  height: 100%;
  background: #fff;
  overflow: hidden;
  border:1px solid transparent !important;                
}

/*Contains toolbar and horizontal splitter*/
#rightPane {
  float: right;
  width: 74%;
  height: 100%;
  background: #ffffff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0;  /* do not modify*/
}

/* Splitbar styles; these are the default class names and required styles */
.splitbarV {
  float: left;
  width: 6px;
  height: 100%;
  line-height: 0px;
  font-size: 0;
  border-left: solid 1px #eee;
  border-right: solid 1px #ccc;
  background: #eee ;
}
.splitbuttonV {
  margin-top: -22px;
  margin-left: -1px;
  top: 50%;
  position: relative;
  height: 44px;
  width: 8px;
  background: transparent url(../../img/splitter.png) 8px 50%;
}
.splitbuttonV.invert {
  margin-left: -1px;
  background: transparent url(../../img/splitter.png) 0 50%;
}
.splitbarV.working,.splitbuttonV.working{
  opacity: .50;
  filter: Alpha(opacity = 50);
}
.splitterMask
{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 20000;
}

div#searchResults div#webhelp_search_results a {
  background: none no-repeat;
}

#bck_toc{
  background-color:transparent;
  padding:20px 0 0 0;
    overflow: auto;
}
#rightPane iframe{
  float: left;
}      
#frm{
  width: 100%;
  height: 100%;
  border: 0;    
  margin: 0;
  padding-left:0;
}

.tooltip{
    box-shadow: 3px 3px 3px #ccc;
    color:#333;
    text-shadow:1px 1px 1px #fff;  
    background-color:#efefef;
    border-radius: 4px;    
    padding: 2px 5px 2px 5px;
    border: 1px solid #999999;
    position: absolute;            
    z-index: 10;
  }


span#warningSign{  
  cursor: pointer;
}
div#warning{
  position: absolute;
  right: 2%;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px #999999;
  display: none;
  padding: 5px;
  background-color: #ffff99;
}

@media print{
  .splitbarV, 
  #lHeader, 
  #leftPane{
    display: none;
  }
  #rightPane{
    display: block;
    position:absolute;
    left:0;
    top:0;
  }
}
